<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shiwei</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .mymenu{
            margin-left: 70px;
            font-size: 20px;
            margin-top: 50px;
            border: 1px dashed black;
        }
        .content{
            margin-left: 45px;
        }
        .mymenu a{
            display: block;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="mymenu">
   {{ text|safe }}
<div>




</body>
</html>