<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/static/lib/de_jQuery_3_3_1.js"></script>
    <script src="/static/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<h1 class="text-center text-info bg-danger " style="text-decoration: none">Python 全套</h1>
<pre class="text-center bg-info"> shiwei </pre>


</body>
</html>