<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .mydiv{
            width: 30%;
            margin: 0px auto;
            margin-top: 80px;
        }
        img{
            width: 120px;
        }
    </style>
</head>
<body>
<div class="mydiv">
<form action="">
    用户名<input type="text" name="name"><br>
    密码<input type="text" name="pwd"><br>
    邮箱<input type="text" name="email"><br>
    验证码<input type="text" name="validate"><br>
    <img src="/shiwei/one.jpg" alt="">
    <input type="submit" value="登录">
</form>
</div>

</body>
</html>