<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.mapper.StudentcardMapper">
  <resultMap id="BaseResultMap" type="org.lanqiao.entity.Studentcard">
    <id column="cardid" jdbcType="INTEGER" property="cardid" />
    <result column="cardiinfo" jdbcType="VARCHAR" property="cardiinfo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    cardid, cardiinfo
  </sql>
  <select id="selectByExample" parameterType="org.lanqiao.entity.StudentcardExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from studentcard
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from studentcard
    where cardid = #{cardid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from studentcard
    where cardid = #{cardid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.lanqiao.entity.StudentcardExample">
    delete from studentcard
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.lanqiao.entity.Studentcard">
    insert into studentcard (cardid, cardiinfo)
    values (#{cardid,jdbcType=INTEGER}, #{cardiinfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.lanqiao.entity.Studentcard">
    insert into studentcard
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cardid != null">
        cardid,
      </if>
      <if test="cardiinfo != null">
        cardiinfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cardid != null">
        #{cardid,jdbcType=INTEGER},
      </if>
      <if test="cardiinfo != null">
        #{cardiinfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.lanqiao.entity.StudentcardExample" resultType="java.lang.Long">
    select count(*) from studentcard
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update studentcard
    <set>
      <if test="record.cardid != null">
        cardid = #{record.cardid,jdbcType=INTEGER},
      </if>
      <if test="record.cardiinfo != null">
        cardiinfo = #{record.cardiinfo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update studentcard
    set cardid = #{record.cardid,jdbcType=INTEGER},
      cardiinfo = #{record.cardiinfo,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.lanqiao.entity.Studentcard">
    update studentcard
    <set>
      <if test="cardiinfo != null">
        cardiinfo = #{cardiinfo,jdbcType=VARCHAR},
      </if>
    </set>
    where cardid = #{cardid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lanqiao.entity.Studentcard">
    update studentcard
    set cardiinfo = #{cardiinfo,jdbcType=VARCHAR}
    where cardid = #{cardid,jdbcType=INTEGER}
  </update>
</mapper>