<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myroomsundemo1"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <!-- wifi -->
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.RESTART_PACKAGES" >
    </uses-permission>

    
    

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                 <action android:name="successed"/>
                 <category android:name="android.intent.category.DEFAULT"/>
    
                </intent-filter>
       
        </activity>
        <activity
            android:name=".Ip_PortActivity"
            android:label="@string/title_activity_ip__port" 
            android:screenOrientation="landscape" >
                 <intent-filter>
                     <action android:name="successed"/>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
