<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd"
	>

 <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"> 
</bean> 
	 

 <context:component-scan base-package="org.shiwei.dao_Impl,org.shiwei.service_Impl,org.shiwei.test"></context:component-scan>

	
	<bean  id="StudentDao" class="org.shiwei.dao_Impl.StudentDao_Impl" >
           <!-- <property name="student" ref="student"></property>  -->     	
	</bean>
		 
			
		<bean id="StudentService" class="org.shiwei.service_Impl.StudentServiceImpl">
		    <!--  <property name="studentDao_Impl" ref="StudentDao"></property> -->
		</bean> 
		

	

	<bean id="student" class="org.shiwei.entity.Student">
          <property name="stuNo" value="200"></property>
          <property name="stuName" value="shiwei"></property>
          <property name="stuAge" value="300"></property>
	</bean>
</beans>
