<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
    <link rel="stylesheet" href="/static/lib/bootstrap-3.3.7/dist/css/bootstrap.min.css">
    <script src="/static/lib/de_jQuery_3_3_1.js"></script>
    <script src="/static/lib/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>

    <style>
        * {
            margin: 0;
            padding: 0;
        }
    </style>

</head>
<body>
<div class="row">
    <form action="/ajaxDemo.html" method="post" enctype="multipart/form-data">
        <input type="text" name="username">
        <input type="password" name="password">
        <div  class="col-lg-2 col-lg-offset-2" id="shiwei" onclick='onclicks();'> Click Me </div>
    </form>

</div>
<script>

    function onclicks() {
       var shiwei = new XML/////
    }
</script>

</body>
</html>