<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--此文件为 数据库 表的 映射 文件 -->
<!-- 下方写 映射文件的路径 namespace : 该 mapper.xml映射文件的唯一标识符 -->
<mapper namespace="org.wang.mapper.MonkeyMapper">
    
    
    <!--利用 业务扩展类 来实现  根据 ID  联合  1 对  1  查询 -->
    <select id="queryMonkeyByOO" parameterType="int" resultType="MonkeyBusiness">
        select s.*,c.* from monkey s inner join monkeycard c
        on s.cardid=c.cardid
        where s.stuno=#{stuNo}
    </select>
    
    <!-- 利用  resultMap 来实现  一 对  一  查询  -->
    <select id="queryMonkeyByNo_resultMap_OO" parameterType="int" resultMap="findMonkey">
          select s.*,c.* from monkey s inner join monkeycard c
          on s.cardid=c.cardid
          where s.stuno=#{stuNo}  
    </select>
    
    <resultMap type="monkey" id="findMonkey">
        <!--猴子的信息  -->
        <id property="stuNo"  column="stuNo"/>
        <result property="stuName"  column="stuName"/>
        <!--一对一时， 对象成员使用 association 映射， javaType 指定 该属性的 类型。  -->
        <association property="business" javaType="MonkeyBusiness">
            <id property="cardId"  column="cardId"/>
            <result property="cardInfo"  column="cardInfo"/>
        </association>
    </resultMap>
    
    
    
    
    
       <!-- 利用  resultMap 来实现  一 对  一  查询 (延迟加载)  -->
    <select id="queryMonkeyByNo_resultMap_OO_lazy" parameterType="int" resultMap="findMonkey_lazyLoad">
        <!--   select s.*,c.* from monkey s inner join monkeycard c
          on s.cardid=c.cardid
          where s.stuno=#{stuNo}  -->
          <!-- 先查询猴子 ， --> 
           select * from monkey
    </select>
    
    <resultMap type="monkey" id="findMonkey_lazyLoad">
        <!--猴子的信息  -->
        <id property="stuNo"  column="stuNo"/>
        <result property="stuName"  column="stuName"/>
        <!--一对一时， 对象成员使用 association 映射， javaType 指定 该属性的 类型。
             	此次采用 延迟加载， 在查询猴子时， 并不立即 加载猴子 信息。
          -->
          <!--猴子证信息，在需要的时候  再根据  select 查询 猴子证信息     -->
        <association property="card" javaType="MonkeyCard" 
            select="org.wang.mapper.MonkeyCardMapper.queryCardById" 
            column="cardid">
      <!--       <id property="cardId"  column="cardId"/>
            <result property="cardInfo"  column="cardInfo"/> -->
        </association>
    </resultMap>
    
    
    
    
    

</mapper>